.introduce{
      background-image: url('../../../public/assets/images/Union.png');
      background-size: 100% 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transform-style: preserve-3d;  background-attachment: fixed;

      &_info{
            width: 100%;
            position: relative;
            left: -30%;
            transform: translateX(40%)
      }
      .text_line {
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            animation: dash 5s linear forwards, filling 5s ease-in forwards;
            font-size: 40px;
          }
          
          .text_line text {
            font-family: Helvetica,Arial,sans-serif;
            font-weight: normal;
            font-style: normal;
          }
          .typewriter {
            width: 21.5ch;
            white-space: nowrap;
            color: #FFFFFF;
            font-size: 30px;
            overflow: hidden;
            border-right: 4px solid #FFFFFF;
            animation: cursor 1s step-start infinite, 
          text 5s steps(18) alternate infinite;
      }
      
      .social_list{
            display: flex;
            list-style-type: none;
            padding: 0;
            column-gap: 20px;
            margin-top: 20px;
            .item{
                  color: #FFFFFF;
            }
      }

}
@keyframes cursor {
      0%, 100% { 
    border-color: #FFFFFF; 
  }
}

@keyframes text {
      0% { 
    width: 0; 
  }
      100% { 
    width: 21ch; 
  }
}

    
    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    @keyframes filling {
      0%, 90% { fill: #FFFFFF; fill-opacity: 0; }
      100% { fill: #FFFFFF; fill-opacity: 1; }
    }

    .partical{
      position: absolute;
      top: 38%;
      /* bottom: 0; */
      left: 24%;
      /* right: 0; */
      height: 50%;
      width: 50%;
    }