.footer{
      background-color: #000C24;
      background-image: url("../../../public/assets/images/footer.png");
      height: 200px;
      background-repeat: no-repeat;
      background-size: 400px;
      background-position: right 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2,h4{
            color: #fff;
      }
}
@media only screen and (min-width: 350px)and (max-width: 1024px){
.footer{
      background-size: 200px 100%;
}
}