.experience{
      h2{
            font-weight: 700;
font-size: 32px;
line-height: 36px;
color: #F44336;
      }
      background-attachment: fixed;
p{

}
}
.sessions{
      margin-top: 2rem;
      border-radius: 12px;
      position: relative;
      list-style-type: none;
    li{
      padding-bottom: 1.5rem;
      border-left: 1px solid #abaaed;
      position: relative;
      padding-left: 20px;
      margin-left: 10px;
      &:last-child{
        border: 0px;
        padding-bottom: 0;
      }
      &:before{
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #4e5ed3;
        box-shadow: 3px 3px 0px #bab5f8;
        box-shadow: 3px 3px 0px #bab5f8;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 10px;
      }
    }
    .times{
      color: #2a2839;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #F44336;


    }
    p{
      color: #4f4f4f;
          font-family: sans-serif;
      line-height: 1.5;
      margin-top:0.4rem;
      color: #000C24;
      font-size: 24px;
      // color: #000C24;
    }
}